@import url("styles/reset.css");
@import url("styles/container-login.css");
@import url("styles/media.css");

:root {
    --cor-background: #ffffff;
    --cor-fundo-container: #00171f;
    --fonte-texto: 'Kanit';
    --cor-fundo-botao: #00a7e1;
    --cor-fonte-texto: #ffffff;
}

body {
    font-size: 1em;
    color: var(--cor-fonte-texto);
    font-family: var(--fonte-texto);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10em;
}
