
.container-login {
    background-color: var(--cor-fundo-container);
    width: 90%;
    height: 90%;
    margin: 1em auto;
    border-radius: 0.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateZ(0);
    padding-bottom: 1em;
    
}

.container-login__logotipo {
    width: 10vw;
    display: block;
    margin: 0 auto;
    padding-top: 2em;
}

.container-login__titulo {
    font-size: 2.3em;
    text-align: center;
    margin: 0.9em 0.9em;
}

.container-login__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.container-login__entrada {
    border-radius: 0.2em;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 13em;    
    font-size: 1.5em;
}

.container-login__botao {
    
    display: block;
    margin: 1em auto;
    font-size: 1.5em;
    font-family: var(--fonte-texto);
    
    background-color: var(--cor-fundo-botao);
    color: var(--fonte-texto);
    border-radius: 0.2em;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 13em;
}

.rodape {
    background-color: var(--cor-fundo-container);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em;
    
}

.rodape__imagem {
    width: 2.5em;
}