
.container-login {
    background: var(--cor-background);
    width: 100vw;
    height: 100vh;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateZ(0);
    padding-bottom: 1em;

   
}




.container-login__logotipo {
    width: 15em;
    border-radius: 1.5em;
    padding-top: 0.8em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    
}

.container-login__titulo {
    font-size: 3em;
    margin: 0.9em 0.9em;
    font-weight: 700;
}

.container-login__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 3%;
    border: 0.1px solid white;
    width: 50%;
    text-align: center;
    padding: 2em;
    margin: 1em auto;
    border-radius: 0.1em;
    box-shadow: 1em 1em 1em black;
}

.container-login__entrada {
    border-radius: 0.3em;
    border: none;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.1);
    width: 13em;    
    font-size: 0.8em;
}

.container-login__botao {
    font-size: 1.9em;
    font-family: var(--fonte-texto);
    background-color: transparent;
    color: #000000;
    border-radius: 0.2em;
    border: 0.5em solid white ;
    font-weight: 700;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.1);
    width: 13em;
}

.container-login__botao:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 0;
    font-size: 2em;
    box-shadow: 1em 1em 1em black;
    font-weight: 800;

}


.rodape {
    background-color: var(--cor-fundo-container);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em;
    
}

.rodape__imagem {
    width: 2.5em;
}